USE [master]
GO
/****** Object:  Database [Progra3_TPFinal_19B_DB]    Script Date: 22/10/2025 18:27:48 ******/
CREATE DATABASE [Progra3_TPFinal_19B_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Progra3_TPFinal_19B_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Progra3_TPFinal_19B_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Progra3_TPFinal_19B_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Progra3_TPFinal_19B_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Progra3_TPFinal_19B_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Progra3_TPFinal_19B_DB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22/10/2025 18:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[DocumentNumber] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customers_Document] UNIQUE NONCLUSTERED 
(
	[DocumentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentAssignments]    Script Date: 22/10/2025 18:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentAssignments](
	[Id] [uniqueidentifier] NOT NULL,
	[IncidentId] [uniqueidentifier] NOT NULL,
	[AssignedByUserId] [uniqueidentifier] NOT NULL,
	[AssignedToUserId] [uniqueidentifier] NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_IncidentAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentComments]    Script Date: 22/10/2025 18:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentComments](
	[Id] [uniqueidentifier] NOT NULL,
	[IncidentId] [uniqueidentifier] NOT NULL,
	[AuthorUserId] [uniqueidentifier] NOT NULL,
	[Text] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_IncidentComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidents]    Script Date: 22/10/2025 18:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidents](
	[Id] [uniqueidentifier] NOT NULL,
	[Number] [nvarchar](30) NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[TypeId] [uniqueidentifier] NOT NULL,
	[PriorityId] [uniqueidentifier] NOT NULL,
	[Problem] [nvarchar](2000) NOT NULL,
	[State] [nvarchar](20) NOT NULL,
	[OwnerUserId] [uniqueidentifier] NOT NULL,
	[AssignedToUserId] [uniqueidentifier] NOT NULL,
	[ResolutionNote] [nvarchar](2000) NULL,
	[CloseComment] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Incidents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Incidents_Number] UNIQUE NONCLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentStateHistory]    Script Date: 22/10/2025 18:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentStateHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[IncidentId] [uniqueidentifier] NOT NULL,
	[State] [nvarchar](20) NOT NULL,
	[ActorUserId] [uniqueidentifier] NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_IncidentStateHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentTypes]    Script Date: 22/10/2025 18:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_IncidentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_IncidentTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 22/10/2025 18:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Weight] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Priorities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Priorities_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/10/2025 18:27:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncidentAssignments_Inc_Created]    Script Date: 22/10/2025 18:27:48 ******/
CREATE NONCLUSTERED INDEX [IX_IncidentAssignments_Inc_Created] ON [dbo].[IncidentAssignments]
(
	[IncidentId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncidentComments_Inc_Created]    Script Date: 22/10/2025 18:27:48 ******/
CREATE NONCLUSTERED INDEX [IX_IncidentComments_Inc_Created] ON [dbo].[IncidentComments]
(
	[IncidentId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incidents_AssignedTo]    Script Date: 22/10/2025 18:27:48 ******/
CREATE NONCLUSTERED INDEX [IX_Incidents_AssignedTo] ON [dbo].[Incidents]
(
	[AssignedToUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incidents_CreatedAt]    Script Date: 22/10/2025 18:27:48 ******/
CREATE NONCLUSTERED INDEX [IX_Incidents_CreatedAt] ON [dbo].[Incidents]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incidents_PriorityId]    Script Date: 22/10/2025 18:27:48 ******/
CREATE NONCLUSTERED INDEX [IX_Incidents_PriorityId] ON [dbo].[Incidents]
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Incidents_State]    Script Date: 22/10/2025 18:27:48 ******/
CREATE NONCLUSTERED INDEX [IX_Incidents_State] ON [dbo].[Incidents]
(
	[State] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncidentStateHistory_Inc_Created]    Script Date: 22/10/2025 18:27:48 ******/
CREATE NONCLUSTERED INDEX [IX_IncidentStateHistory_Inc_Created] ON [dbo].[IncidentStateHistory]
(
	[IncidentId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 22/10/2025 18:27:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[IncidentAssignments] ADD  CONSTRAINT [DF_IncidentAssignments_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[IncidentAssignments] ADD  CONSTRAINT [DF_IncidentAssignments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[IncidentAssignments] ADD  CONSTRAINT [DF_IncidentAssignments_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[IncidentComments] ADD  CONSTRAINT [DF_IncidentComments_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[IncidentComments] ADD  CONSTRAINT [DF_IncidentComments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[IncidentComments] ADD  CONSTRAINT [DF_IncidentComments_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Incidents] ADD  CONSTRAINT [DF_Incidents_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Incidents] ADD  CONSTRAINT [DF_Incidents_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Incidents] ADD  CONSTRAINT [DF_Incidents_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[IncidentStateHistory] ADD  CONSTRAINT [DF_IncidentStateHistory_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[IncidentStateHistory] ADD  CONSTRAINT [DF_IncidentStateHistory_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[IncidentStateHistory] ADD  CONSTRAINT [DF_IncidentStateHistory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[IncidentTypes] ADD  CONSTRAINT [DF_IncidentTypes_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[IncidentTypes] ADD  CONSTRAINT [DF_IncidentTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[IncidentTypes] ADD  CONSTRAINT [DF_IncidentTypes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Priorities] ADD  CONSTRAINT [DF_Priorities_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Priorities] ADD  CONSTRAINT [DF_Priorities_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Priorities] ADD  CONSTRAINT [DF_Priorities_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_CreatedBy]
GO
ALTER TABLE [dbo].[IncidentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_AssignedBy] FOREIGN KEY([AssignedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncidentAssignments] CHECK CONSTRAINT [FK_Assignments_AssignedBy]
GO
ALTER TABLE [dbo].[IncidentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_AssignedTo] FOREIGN KEY([AssignedToUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncidentAssignments] CHECK CONSTRAINT [FK_Assignments_AssignedTo]
GO
ALTER TABLE [dbo].[IncidentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncidentAssignments] CHECK CONSTRAINT [FK_Assignments_CreatedBy]
GO
ALTER TABLE [dbo].[IncidentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Incident] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
GO
ALTER TABLE [dbo].[IncidentAssignments] CHECK CONSTRAINT [FK_Assignments_Incident]
GO
ALTER TABLE [dbo].[IncidentComments]  WITH CHECK ADD  CONSTRAINT [FK_IncidentComments_Author] FOREIGN KEY([AuthorUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncidentComments] CHECK CONSTRAINT [FK_IncidentComments_Author]
GO
ALTER TABLE [dbo].[IncidentComments]  WITH CHECK ADD  CONSTRAINT [FK_IncidentComments_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncidentComments] CHECK CONSTRAINT [FK_IncidentComments_CreatedBy]
GO
ALTER TABLE [dbo].[IncidentComments]  WITH CHECK ADD  CONSTRAINT [FK_IncidentComments_Incident] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
GO
ALTER TABLE [dbo].[IncidentComments] CHECK CONSTRAINT [FK_IncidentComments_Incident]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_Assignee] FOREIGN KEY([AssignedToUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Assignee]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_CreatedBy]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Customer]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_Owner] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Owner]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_Priority] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Priorities] ([Id])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Priority]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[IncidentTypes] ([Id])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Type]
GO
ALTER TABLE [dbo].[IncidentStateHistory]  WITH CHECK ADD  CONSTRAINT [FK_StateHistory_Actor] FOREIGN KEY([ActorUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncidentStateHistory] CHECK CONSTRAINT [FK_StateHistory_Actor]
GO
ALTER TABLE [dbo].[IncidentStateHistory]  WITH CHECK ADD  CONSTRAINT [FK_StateHistory_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncidentStateHistory] CHECK CONSTRAINT [FK_StateHistory_CreatedBy]
GO
ALTER TABLE [dbo].[IncidentStateHistory]  WITH CHECK ADD  CONSTRAINT [FK_StateHistory_Incident] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
GO
ALTER TABLE [dbo].[IncidentStateHistory] CHECK CONSTRAINT [FK_StateHistory_Incident]
GO
ALTER TABLE [dbo].[IncidentTypes]  WITH CHECK ADD  CONSTRAINT [FK_IncidentTypes_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IncidentTypes] CHECK CONSTRAINT [FK_IncidentTypes_CreatedBy]
GO
ALTER TABLE [dbo].[Priorities]  WITH CHECK ADD  CONSTRAINT [FK_Priorities_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Priorities] CHECK CONSTRAINT [FK_Priorities_CreatedBy]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [CK_Incidents_State] CHECK  (([State]=N'Reabierto' OR [State]=N'Cerrado' OR [State]=N'Resuelto' OR [State]=N'EnAnalisis' OR [State]=N'Asignado' OR [State]=N'Abierto'))
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [CK_Incidents_State]
GO
ALTER TABLE [dbo].[IncidentStateHistory]  WITH CHECK ADD  CONSTRAINT [CK_StateHistory_State] CHECK  (([State]=N'Reabierto' OR [State]=N'Cerrado' OR [State]=N'Resuelto' OR [State]=N'EnAnalisis' OR [State]=N'Asignado' OR [State]=N'Abierto'))
GO
ALTER TABLE [dbo].[IncidentStateHistory] CHECK CONSTRAINT [CK_StateHistory_State]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]=N'Supervisor' OR [Role]=N'Telefonista' OR [Role]=N'Administrador'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
