<?xml version="1.0"?>
<configuration>
	<appSettings>
  <add key="webpages:Enabled" value="false" />
	<add key="MailUser" value="progra723@gmail.com" />
  <add key="MailPass" value="uudn jndi xgnj kvln" />
</appSettings>

	<connectionStrings>
		<add name="CallCenterDb"
			 connectionString="Server=localhost\SQLEXPRESS;Initial Catalog=Progra3_TPFinal_19B_DB;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<globalization requestEncoding="utf-8"
					   responseEncoding="utf-8"
					   fileEncoding="utf-8"
					   culture="es-AR"
					   uiCulture="es" />

		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="120" slidingExpiration="true" />
		</authentication>

		<authorization>
			<deny users="?" />
		</authorization>

		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<!-- Opcional, puro WebForms -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>

	<location path="Account/Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Account/Register.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Account/Forgot.aspx">
	  <system.web>
		<authorization><allow users="*" /></authorization>
	  </system.web>
	</location>
	<location path="Account/Reset.aspx">
	  <system.web>
		<authorization><allow users="*" /></authorization>
	  </system.web>
	</location>
	

</configuration>
