<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CallCenterDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VeterinariaExamen;Integrated Security=True;TrustServerCertificate=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="120" slidingExpiration="true" />
    </authentication>
    <authorization><deny users="?" /></authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location path="Account/Login.aspx">
    <system.web><authorization><allow users="*" /></authorization></system.web>
  </location>
</configuration>
