@model Progra3_TPFinal_19B.Models.ViewModels.CustomerCreateViewModel
@{
    ViewData["Title"] = "Nuevo Cliente";
}
<div class="card">
    <div class="card-header bg-light">Nuevo Cliente</div>
    <div class="card-body">
        <form asp-action="Create" method="post" class="row g-3" novalidate>
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

            <div class="col-md-6">
                <label class="form-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label">Documento / CUIT</label>
                <input asp-for="DocumentNumber" class="form-control" />
                <span asp-validation-for="DocumentNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label">Teléfono</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            

            <div class="col-12 d-flex gap-2">
                <button class="btn btn-primary">Guardar</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
